.planet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 10px 20px;
  padding: 10px 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.planet__tag {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}

.planet__destination {
  padding: 10px 10px;
}
